::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
	z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
	z-index: 9999;
}

.VPSwitchAppearance {
	width: 22px !important;
}

.VPSwitchAppearance .check {
	transform: none !important;
}

.vp-doc p,
.vp-doc blockquote > p {
	@apply text-lg leading-8;
}

.vp-doc p img {
	@apply my-5 w-full cursor-pointer object-cover;
}

.vp-doc hr {
	@apply mx-auto my-10 w-12.5 border-t border-gray-300 dark:border-gray-600;
}

.vp-doc a {
	@apply underline-offset-4;
}

.vp-doc table {
	@apply my-0 table w-max min-w-full table-fixed border-collapse;
}

.vp-doc :is(h1, h2, h3, h4, h5, h6) {
	@apply border-0 pt-0;
}

.vp-doc :is(h1, h2, h3, h4, h5, h6) .header-anchor {
	@apply top-0;
}

.vp-doc ul li {
	@apply list-disc;
}

.vp-doc .toc ul li {
	@apply list-none text-[0.85rem];
}

.vp-doc .toc ul li a {
	@apply text-blog-tertiary hover:text-blog-secondary dark:text-blog-tertiary dark:hover:text-blog-secondary transition-colors;
}
