::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
	z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
	z-index: 9999;
}

.VPSwitchAppearance {
	width: 22px !important;
}

.VPSwitchAppearance .check {
	transform: none !important;
}

.vp-doc p,
.vp-doc blockquote > p {
	@apply text-lg leading-8;
}

.vp-doc p img {
	@apply my-5 aspect-video w-full cursor-pointer;
}

.vp-doc hr {
	@apply mx-auto my-10 w-12.5 border-t border-gray-300 dark:border-gray-600;
}

.vp-doc a {
	@apply underline-offset-4;
}

.vp-doc table {
	@apply my-0 table w-max min-w-full table-fixed border-collapse;
}
